body {
  background: url(image2.jpg) no-repeat center center fixed;
  background-size: cover;
}
header {
  width: 100%;
  height: 80px;
}
.greeting {
  color: rgb(0, 0, 0);
}
.instuction_list {
  font-weight: bold;
}
.greeting,
.player_name,
.computer_name {
  text-align: center;
  font-family: "Horizon";
  color: white;
}

.greeting-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#engage {
  display: flex;
  justify-content: center;
}

.instruction,
.firstRule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.firstRule {
  font-family: "Horizon";
  font-size: 22px;
  color: white;
}

#skipButton {
  font-size: 14px;
  margin-top: 80px;
}

.player_name,
.computer_name {
  font-weight: bold;
  font-size: 25px;
}

.action_field {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.player_one_field {
  width: 421px;
  float: left;
  box-sizing: border-box;
}

.computer_field {
  width: 421px;
  box-sizing: border-box;
}

td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
}

#battlefield_one,
#battlefield_two {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px 0px;
}
.number_cells {
  width: 25px;
  height: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.green {
  background-color: rgb(8, 56, 146);
}

.red {
}

.first_greating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Horizon";
  font-size: 25px;
  color: white;
}
.visability_hidden {
  visibility: hidden;
}
.diagonalCross {
  position: relative;
  background-image: linear-gradient(
    45deg,
    transparent 50%,
    black 50%,
    transparent 52%
  );
  background-repeat: no-repeat;
  background-color: rgb(124, 24, 24);
}
.help_div {
  display: flex;
  justify-content: center;
  text-align: center;
}
.help {
  font-size: 20px;
  font-family: "Horizon";
  color: black;
  font-weight: bold;
}
.circle {
  background-image: radial-gradient(
    circle closest-corner at 45% 50%,
    rgb(0, 0, 0) 15%,
    transparent 15%
  );
}

.hiden_circle {
  overflow: hidden;
  background-image: radial-gradient(
    circle closest-corner at 45% 50%,
    rgb(0, 0, 0) 15%,
    transparent 15%
  );
}

@keyframes greeting-animation {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 0px;
  }
}
.animation {
  animation-name: greeting-animation;
  animation-duration: 2000ms;
  position: relative;
}

.dif_select {
  font-size: 15px;
}

@keyframes slow-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1px;
  }
}

.slowanimation {
  animation-name: slow-animation;
  animation-duration: 2000ms;
  position: relative;
}

.none-active {
}

.rule_list li {
  font-size: 25px;
  padding-top: 10px;
}
.player_name {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player_name_p {
}
